<nav class="navbar">
    <div class="nav-list-box">
      <ul class="nav-list">
        <li class="list-item"><a href="/trips">All Trips</a></li>
        <li class="list-item"><a href="/">Home</a></li>
        <li class="list-item"><a href="/trips/add">Add Trip</a></li>
      </ul>
    </div>
  </nav>