    <%- include('./partials/header.ejs')%>
    <title>Trips</title>
    <link rel="stylesheet" href="/css/trips.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <h1 style="color: white; margin-top: 50px; margin-left: 50px">
      This route was not found!
    </h1>
  </body>
</html>
