<%- include('./partials/header.ejs')%>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
   <%- include('./partials/nav.ejs')%>
    <div class="hero-box">
      <div class="hero-text">
        <h1>Explore Destinations Through Real Reviews</h1>
        <h6>Find your next trip and share your experiences</h6>
        <div class="btn-box">
          <a class="trip-btn" href="/trips" style="text-decoration: none"
            >Click Here</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
